@model List<Category>

<div is-diplayed="@User.IsInRole(Role.User.ToString())" class="header">
    <a href="/Category/Get" class="btn btn-warning mr-2">➕</a>

    <h1>Categories 📃</h1>
</div>
<div class="grid-items">
    @{
        foreach (var category in Model)
        {
            <div class="card col-sm-4">
                <img class="card-img-top default-img-size"
                     src="@category.ImagePath"
                     alt="@category.Name"
                     asp-append-version="true" />

                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>

                    <div class="edge-pressed">
                        <div>
                            <a class="btn btn-primary" href="/Product/GetAll?CategoryName=@category.Name">Open</a>
                        </div>

                        <div>
                            <a class="btn btn-warning" href="/Category/Get?CategoryName=@category.Name" is-diplayed="@User.IsInRole(Role.User.ToString())">📝</a>
                            <a class="btn btn-danger" href="/Category/Delete?CategoryId=@category.Id" is-diplayed="@User.IsInRole(Role.User.ToString())">🧺</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>