@model List<Product>

<div class="header">
    <h1>Ordered Sum: @Model.Sum(x => x.Price).ToString("c") 💰</h1>
</div>
<div class="grid-items">
    @{
        foreach (var product in Model)
        {
            <div class="card col-sm-4">
                <div class="card-body pb-0">
                    <h5 class="card-title">@product.Name</h5>

                    <img class="img-thumbnail default-img-size"
                         src="@product.ImagePath"
                         alt="@product.Name"
                         asp-append-version="true" />

                </div>
                <div>
                    <p>@product.Description</p>

                    <div class="edge-pressed">
                        <div class="horizontal-items">
                            <a href="/Product/Buy?ProductId=@product.Id&CategoryName=@ViewBag.CategoryName" class="btn btn-success">Buy</a>

                            <p class="ml-2">@product.Price.ToString("c")</p>
                        </div>

                        <div>
                            <a href="/Product/DeleteOrderedProduct?ProductId=@product.Id"
                               class="btn btn-danger">🧺</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>